#messages {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connectButton {
    margin-bottom: 10px;
}

#disconnectButton {
    margin-top: 10px;
}
